<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Connection String -->
		<add key="ConnectionString" value="Data Source=COMMERCIENT-02\SQLEXPRESS;Initial Catalog=college;Persist Security Info=True;User ID=sa1;Password=1234"/>

		<!-- Table Name -->
		<add key="TableNames" value="Students" />

		<!-- File Path -->
		<add key="XmlFolderPath" value="C:\\Logs\\xml" />

	</appSettings>
</configuration>